alias l='ls -alh'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'
alias ip='ip -color'
alias ipa='ip -color -brief address'
alias h='htop'
alias ze='zellij'
alias trash='send2trash'

alias tv='$EDITOR ~/Sync/shows.txt'
alias cds='cd ~/Sync/stud/sem6/'
alias updgr='apt update && apt upgrade && apt autoremove'
alias mpvp='mpv --really-quiet --mute=yes --loop-playlist'

alias mirrorUpdate='reflector --country de --latest 15 --protocol https --sort rate --save /etc/pacman.d/mirrorlist --verbose'
alias pacs='pacman -Ss'
alias paci='sudo pacman -S'

function ytmp3 () { yt-dlp -f 'ba' -x --audio-format mp3 "$@" -o '%(title)s.%(ext)s'; }
function mkcd () { mkdir -p "$@" && eval cd "\"\$$#\""; }

# java run dir
function jrd() {
	javac *.java && java $1 || rm -f *.class
}

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

